
@{
    ViewBag.Title = "UserContact";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<br />
<h4>Contact</h4>
<hr />

<div class="row">
    
    <div class="col">
        <img style="width:100%; height:317px; object-fit: cover;" src="https://images.pexels.com/photos/1333742/pexels-photo-1333742.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
    </div>
</div>
<br />

